{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Stack Overflow Clone
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A stackoverflow clone Django project" />
    <meta name="author" content="Dmitrii Valedinskii" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!--Tinymce Text-Editor (Must be in Head Tag) -->
      <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}"></script>
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <style>
        body {
          padding-bottom: 10em;
        }

        code {
          display: block;
          width: auto;
          overflow-x: auto;
          background: lightgray;
        }
      </style>
    {% endblock css %}
    <!-- Latest javascript
================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
              integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1 border-bottom border-secondary">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex align-items-baseline w-100">
            <div class="d-flex align-items-baseline w-100">
              <a class="navbar-brand fs-4 fw-bolder text-secondary"
                 href="{% url 'home' %}">Stack Overflow Clone</a>
              <a class="nav nav-link nav-item" href="{% url 'about' %}">About</a>
            </div>
            <div class="collapse navbar-collapse d-inline-flex"
                 id="navbarSupportedContent">
              <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav nav-link nav-item"
                       href="{% url 'users:detail' request.user.pk %}">{% translate "My&nbspProfile" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav nav-link nav-item" href="{% url 'account_logout' %}">{% translate "Sign&nbspOut" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link"
                         class="nav nav-link nav-item"
                         href="{% url 'account_signup' %}">{% translate "Sign&nbspUp" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link"
                       class="nav nav-link nav-item"
                       href="{% url 'account_login' %}">{% translate "Sign&nbspIn" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container p-0 m-0">
      <div class="row p-0 m-0 vh-auto border-end border-secondary">
        <div class="col-2 p-0 m-0 vh-auto border-end border-secondary">
          <ul class="nav flex-column">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home<span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'questions:questions' %}">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'questions:tags' %}">Tags</a>
            </li>
          </ul>
        </div>
        <div class="col-10">
          <div class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {{ message }}
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}
              <p>Use this document as a way to quick start any new project.</p>
            {% endblock content %}
          </div>
          <!-- /container -->
        </div>
      </div>
    </div>
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
      <script>
        tinymce.init({
          selector: 'textarea',
          language: 'ru',
          height: 250,
          theme: 'silver',
          plugins: 'codesample link code wordcount',
          toolbar1: 'formatselect|bold italic|link|alignjustify|outdent indent|removeformat',
          cleanup_on_startup: true,
          custom_undo_redo_levels: 10,
          compressor: true,
          promotion: false,
          setup: function(editor) {
            let limitValue = 0
            editor.on("submit", function(event) {
              let numChars = tinymce.activeEditor.plugins.wordcount.body.getCharacterCount();
              if (numChars < limitValue) {
                let remainderChars = limitValue - numChars
                alert("Minimum " + limitValue + " characters allowed. Enter " + remainderChars + " more");
                event.preventDefault();
                return false;
              }
            })
          }
        });
      </script>
    {% endblock inline_javascript %}
  </body>
</html>
